
.container{
    max-width: 1000px;
    margin: 0 auto;
}

.form{
    max-width: 600px;
    margin: 155px auto;
}


.sideBar{
    width: 100%;
    padding: 40px 0;
    background-color: 
    #5c7297;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.user{
    margin-top: 180px;
    
}


.cccc{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
}
.singleCard{
    margin-top: 150px;
}
.img{
    min-height: 200px;
    width: 40%
}
.single{
    max-width: 700px;
    min-height: 200px;
    display: flex;
    justify-content: space-between;
}
.body{
    width: 60%;
}
/* .singleCard{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
} */